@use "../abstracts/variables" as v;

footer {
  background-color: v.$bg-dark;
  color: v.$text-light;
  text-align: center;
  padding: v.$spacing-lg;
  margin-top: 50px;

  p {
    margin: 0;
    font-size: 0.9em;
  }
}