figure {
  margin: 0;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
  }

  figcaption {
    color: #1e1f21;
    font-size: 0.9em;
    margin-top: 8px;
  }
}