// Colors
$bg-main: #f0f2f5;
$bg-dark: #000000;
$bg-card: rgb(255, 254, 254);
$text-main: #333;
$text-dark: #1e293b;
$text-light: white;
$accent-color: #38bdf8;
$border-color: #cbd5e1;

// Spacing
$spacing-sm: 5px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 30px;